<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link type="text/css" href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
    <title>{{title}}</title>
</head>
<body>
    {% include 'partials/nav-bar.html'%}
    <div class="container">
        <div class="row">
          <div class="col">
              <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="container-fluid p-0">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li><a class="nav-link {% if active_tab == 'profile' %}active border-bottom border-dark border-2{% endif %}" href="{% url 'user:profile' %}">Майбутні поїздки</a></li>
                          <li><a class="nav-link {% if active_tab == 'history' %}active border-bottom border-dark border-2{% endif %}" href="{% url 'user:history' %}">Історія поїздок</a></li>
                          <li><a class="nav-link {% if active_tab == 'contact' %}active border-bottom border-dark border-2{% endif %}" href="{% url 'user:contact' %}">Контактна інформація</a></li>
                      </ul>
                  </div>
              </nav>
          </div>
        </div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>