{% extends  'user/base.html' %}

{% block content %}
<div class="container mt-4">
    {% if next %}
    <form action="{% url 'user:login'%}?next={{next}}" method="post" novalidate>
    {% else %}
    <form action="{% url 'user:login'%}" method="post" novalidate>
    {% endif %}
        {% csrf_token %}
        {% include 'core/includes/all_form_error.html'%}
        {% for field in form %}
            <div class="row d-flex justify-content-center">
                <div class="col-4">
                    <label class="form-label mt-2" for={{field.name}}>{{field.label}}</label>
                    <span id={{field.name}}>{{field}}</span>
                    {% if field.name in form.errors.keys %}
                        <div class="text-danger small">
                            {% for f, errors in form.errors.items %}
                                {% if f == field.name %}
                                    {% for error in errors %}
                                        {{error}}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="row mt-4 d-flex justify-content-center">
            <div class="d-grid col-4">
                <button type="submit" class="btn btn-block btn-danger text-light">Увійти</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}