{% extends 'user/base.html'%}
{% block content%}
    {% if tickets %}
        {% for ticket in tickets %}
            <div class="container mt-4 rounded shadow-sm bg-body">
                <div class="row">
                    <div class="col d-flex justify-content-center mt-2">
                        <span class="fw-bold fs-5">Білет №{{ticket.pk}}</span>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="row">
                        <div class="col">
                            <span>
                                Рейс <span class="fw-bold">{{ticket.trip.start_point.city}}</span> - <span
                                    class="fw-bold">{{ticket.trip.end_point.city}}</span>, на <span class="fw-bold">{{ticket.trip.timedate_departure}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Перевізник: <span class="fw-light">{{ticket.trip.bus.company}}</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            Час в дорозі: <span class="fw-light">{{ticket.trip.timedate_arrival|timeuntil:ticket.trip.timedate_departure}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <span class="fw-bold">{{ticket.trip.timedate_departure|time}}</span>
                        </div>
                        <div class="col">
                            <span class="fw-bold">{{ticket.trip.start_point.city}}</span>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-1">
                            <span class="fw-light">{{ticket.trip.timedate_departure | date:"j b."}}</span>
                        </div>
                        <div class="col">
                            <span class="fw-light">
                                {{ticket.trip.departure_station.station}}
                                {{ticket.trip.departure_station.street_type|lower}}
                                {{ticket.trip.departure_station.street}},
                                {{ticket.trip.departure_station.number}}
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <span class="fw-bold">{{ticket.trip.timedate_arrival|time}}</span>
                        </div>
                        <div class="col">
                            <span class="fw-bold">{{ticket.trip.end_point.city}}</span>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-1">
                            <span class="fw-light">{{ticket.trip.timedate_arrival| date:"j b."}}</span>
                        </div>
                        <div class="col">
                            <span class="fw-light">
                                {{ticket.trip.arrival_station.station}}
                                {{ticket.trip.arrival_station.street_type|lower}}
                                {{ticket.trip.arrival_station.street}},
                                {{ticket.trip.arrival_station.number}}
                            </span>
                        </div>
                    </div>
                </div>
                    <div class="row bg-light rounded-bottom">
                        <div class="col">
                            Пасажир: <span class="fw-bold">{{ticket.last_name}} {{ticket.first_name}}</span>
                        </div>
                    </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row mt-5">
            <div class="col d-flex justify-content-center text-muted">
                <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
                    <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z"/>
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                </svg>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col d-flex justify-content-center text-muted">Ви ще не повертали квитки</div>
        </div>
    {% endif %}

{% endblock %}