{% extends  'partner/base.html' %}

{% block content %}
<div class="container">
    {% if bus_list %}
        {% for bus in bus_list %}
        ----------------------------------------------------------------------- <br>
        <div>
            Номер: {{bus.licence_plate}} <br>
            Бренд: {{bus.brand}} <br>
            Кількість місць: {{bus.number_of_seats}} <br>
            ---- <br>
            * Інформація тільки з минулих поїздок <br>
            Ціна білета: <br>
            Середня: {{bus.average_ticket_price}}<br>
            Мінімальна: {{bus.min_ticket_price}}<br>
            Максимальна: {{bus.max_ticket_price}}<br>
            ---- <br>
            Поїздки: <br>
            Всього: {{bus.trip_count}}<br>
            З яких: <br>
             - Майбутні поїздки: {{bus.future_trip_count}}<br>
             - Минулі поїздки: {{bus.past_trip_count}}<br>
            ---- <br>
            Прибуток: {{profit}}<br>
        </div>
        ---------------------------------------------------------------------- <br>
        {% endfor %}
    {% else %}
    <div class="row">
        <div class="col d-flex justify-content-center mt-3">
            <span class="fs-4 fw-bold">Тут можуть бути ваші Автобуси</span>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center mt-3">
            <a href="{% url 'partner:bus_create' %}"><button class="btn btn-danger text-light">Додати атобус</button></a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
