{% extends  'partner/base.html' %}

{% block content %}
<form method="post" action="{% url 'partner:bus_create'%}" novalidate>
    {% csrf_token %}
    {% for field in form %}
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <label class="form-label mt-2" for={{field.name}}>{{field.label}}</label>
            <span id={{field.name}}>{{field}}</span>
            {% if field.name in form.errors.keys %}
                <div class="text-danger small">
                    {% for f, errors in form.errors.items %}
                        {% if f == field.name %}
                            {% for error in errors %}
                                {{error}}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="row mt-4 d-flex justify-content-center">
        <div class="d-grid col-4">
            <button type="submit" class="btn btn-block btn-danger text-light">Створити</button>
        </div>
    </div>
</form>
{% endblock %}

