{% extends  'partner/base.html' %}

{% block content %}
<form method="post" action="{% url 'partner:bus_create'%}" novalidate>
    {% csrf_token %}
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <label class="form-label mt-2" for="licence_plate">{{form.licence_plate.label}}</label>
            <span id="licence_plate">{{form.licence_plate}}</span>
            {% if "licence_plate" in form.errors.keys %}
                <div class="text-danger small">
                    {{form.errors.licence_plate}}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <label class="form-label mt-2" for="number_of_seats">{{form.number_of_seats.label}}</label>
            <span id="number_of_seats">{{form.number_of_seats}}</span>
            {% if "number_of_seats" in form.errors.keys %}
                <div class="text-danger small">
                    {{form.errors.number_of_seats}}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <label class="form-label mt-2" for="brand">{{form.brand.label}}</label>
            <span id="brand">{{form.brand}}</span>
            {% if "brand" in form.errors.keys %}
                <div class="text-danger small">
                    {{form.errors.brand}}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row mt-4 d-flex justify-content-center">
        <div class="d-grid col-4">
            <button type="submit" class="btn btn-block btn-danger text-light">Створити</button>
        </div>
    </div>
</form>
{% endblock %}

