{% extends  'partner/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col shadow-sm p-3 bg-body rounded">
            <div class="row">
                <div class="col fs-4 mb-3">
                    Компанія {{company.company_name}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="col"><span class="text-muted">Телефен:</span> {{user.phone}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="text-muted">Пошта:</span> {{user.email}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
