{% extends  'partner/base.html' %}
{% block content %}
<div class="container my-2 mb-4 rounded shadow-sm bg-body pb-3 px-3">
    <form method="get" action="{% url 'partner:station_list'%}" novalidate>
        <div class="row">
            {% for field in form %}
                <div class="col">
                    <label class="form-label mt-2" for={{field.name}}>{{field.label}}</label>
                    {{field}}
                </div>
            {% endfor %}
            <div class="col d-grid align-items-end">
                <button type="submit" class="btn btn-block btn-danger text-light">Пошук</button>
            </div>
        </div>
    </form>
</div>
{% for station in stations %}
<div class="container border rounded bg-body mt-3 mb-3">
     <div class="row py-2">
        <div class="col">
            {{station}}
        </div>
    </div>
</div>
{% endfor %}
{% if page_obj.has_other_pages %} <!-- pagination -->
    {% include 'partner/includes/pagination.html' %}
{% endif %}
{% endblock %}