{% extends  'partner/base.html' %}

{% block content %}
<div class="container mt-4">
    <form method="post">
        {% csrf_token %}
        <div>{{ form.non_field_errors }}</div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% for f in user_form %}
            <div class="row d-flex justify-content-center">
                <div class="col-4">
                    <label class="form-label" for="{{forloop.counter}}">{{f.label}}</label>
                    <span id="{{forloop.counter}}">{{f}}</span>
                </div>
            </div>
        {% endfor %}
        <div class="row mt-4 d-flex justify-content-center">
            <div class="d-grid col-4">
                <button type="submit" class="btn btn-block btn-danger text-light">Реєстрація</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}