{% extends  'partner/base.html' %}

{% block content %}
    <div class="container my-2 rounded shadow-sm bg-body pb-3 px-3">
        <form method="get" action="{% url 'partner:trips'%}" novalidate>
            <div class="row">
                {% for field in form %}
                    {% if field.label != 'Id'%}
                        <div class="col">
                            <label class="form-label mt-2" for={{field.name}}>{{field.label}}</label>
                            {{field}}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="col d-grid align-items-end">
                    <button type="submit" class="btn btn-block btn-danger text-light">Пошук</button>
                </div>
            </div>
        </form>
    </div>
    {% if trips_list %}
        <div class="row">
            <div class="col">
                <h3 class="mt-2">{{title}}</h3>
            </div>
            <div class="col">
                {% include 'core/includes/sort.html'%}
            </div>
        </div>
        {% for trip in trips_list %}
            {% include 'partner/includes/ticket_partner_profile.html' with trip=trip edit=edit %}
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col d-flex justify-content-center mt-3">
                <span class="fs-4 fw-bold">Немає рейсів</span>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center mt-3">
                <a href="{% url 'partner:trip_create' %}"><button class="btn btn-danger text-light">Додати Рейс</button></a>
            </div>
        </div>
    {% endif %}

    {% if page_obj.has_other_pages %} <!-- pagination -->
        {% include 'partner/includes/pagination.html' %}
    {% endif %}
{% endblock %}
