<div class="container p-0 mb-4 mt-3 border border-warning rounded shadow-sm ">
    <div class="container rounded p-3 bg-body ">
        <div class="row">
            <div class="col"> <!-- Зона информации-->
                <div class="row">
                    <div class="col-5">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-6"> <!-- Время -->
                                        <span class="fs-3">{{trip.timedate_departure|time}}</span>
                                    </div>
                                    <div class="col-6"> <!-- Дата -->
                                        <span class="badge bg-light text-dark"><span class="fw-light fs-6">{{trip.timedate_departure | date:"j b."}}</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center text-nowrap"> <!-- Время в дороге -->
                                <span class="fw-light fs-6">{{trip.timedate_arrival|timeuntil:trip.timedate_departure}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col fs-5"> <!-- Город посадки -->
                                {{trip.start_point}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col fs-6 fw-lighter"> <!-- Информация про место посадки -->
                                <div class="span">
                                    {{trip.departure_station.station}},
                                    {{trip.departure_station.street_type|lower}}
                                    {{trip.departure_station.street}},
                                    {{trip.departure_station.number}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <div class="col-3"> <!-- Время приезда -->
                                <span class="fs-3">{{trip.timedate_arrival|time}}</span>
                            </div>
                            <div class="col-3"> <!-- Дата Приезда -->
                                <span class="badge bg-light text-dark"><span class="fw-light fs-6">{{trip.timedate_arrival | date:"j b."}}</span>
                            </div>
                        </div>
                        <div class="row"> <!-- Город прибытия -->
                            <div class="col fs-5">
                                {{trip.end_point}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col fs-6 fw-lighter"> <!-- Информация про место высадки -->
                                <div class="span">
                                    {{trip.arrival_station.station}}
                                    {{trip.arrival_station.street_type|lower}}
                                    {{trip.arrival_station.street}},
                                    {{trip.arrival_station.number}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center"> <!-- Зона кнопки -->
                        <div class="row">
                            <div class="col position-relative">
                                <span class="fs-3">{{trip.price}}</span><span class="fs-6">грн</span>
                                {% if trip.tickets.count > 10 %}
                                    <span class="position-absolute top-100 start-50 translate-middle fs-6 mt-3 fw-light text-nowrap text-success">{{trip.tickets.count}}/{{trip.bus.number_of_seats}} місць</span>
                                {% else %}
                                    <span class="position-absolute top-100 start-50 translate-middle fs-6 mt-3 fw-light text-nowrap text-danger">{{trip.tickets.count}}/{{trip.bus.number_of_seats}} місць</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container rounded px-3 py-1 bg-light"> <!-- Информация про перевозчика -->
        <div class="row">
            <div class="col-5">
                Перевізник: {{trip.bus.company}}
            </div>
            <div class="col-4">
                Автобус: {{trip.bus.brand}} <a href="{% url 'partner:buses' %}?licence_plate={{ trip.bus.licence_plate|urlencode }}">{{trip.bus.licence_plate}}</a>
            </div>
            {% if edit != False %}
            <div class="col d-flex justify-content-start">
                <a href="{{trip.get_absolute_url}}" class="text-danger {% if not trip.edit %} btn p-0 w-0 disabled {% endif %}" style="text-decoration: none">Редагувати</a>
            </div>
            {% endif %}
            <div class="col d-flex justify-content-end">
                <a class="dropdown-toggle text-danger" data-bs-toggle="collapse" href="#trip{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="collapseExample" style="text-decoration: none">
                    Білети
                 </a>
            </div>
        </div>
    </div>
    <div class="collapse" id="trip{{forloop.counter}}">
        <div class="card-body bg-body rounded-bottom">
            {% if trip.tickets %}
                <div class="row  border-bottom">
                    <div class="col text-secondary">
                        №
                    </div>
                    <div class="col text-secondary">
                        Ім'я
                    </div>
                    <div class="col text-secondary">
                        Фамілія
                    </div>
                    <div class="col text-secondary">
                        Номер телефону
                    </div>
                </div>
                {% for ticket in trip.tickets %}
                    <div class="row py-2 border-bottom">
                        <div class="col">
                            {{ forloop.counter }}
                        </div>
                        <div class="col">
                            {{ ticket.first_name }}
                        </div>
                        <div class="col">
                            {{ ticket.last_name }}
                        </div>
                        <div class="col">
                            {{ ticket.user.phone }}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-x-octagon" viewBox="0 0 16 16">
                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <span>Немає білетів</span>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
  