<div class="container p-0 mb-5 border border-warning rounded shadow-sm ">
    <div class="container p-3 bg-body rounded-top">
        <div class="row">
            <div class="col-9"> <!-- Зона информации-->
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-6"> <!-- Время -->
                                        <span class="fs-3">{{trip.timedate_departure|time}}</span>
                                    </div>
                                    <div class="col-6"> <!-- Дата -->
                                        <span class="badge bg-light text-dark"><span class="fw-light fs-6">{{trip.timedate_departure | date:"j b."}}</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-end text-nowrap"> <!-- Время в дороге -->
                                <span class="fw-light fs-6">
                                    {{trip.timedate_arrival|timeuntil:trip.timedate_departure}}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col fs-5"> <!-- Город посадки -->
                                {{trip.start_point.city}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col fs-6 fw-lighter"> <!-- Информация про место посадки -->
                                <div class="span">
                                    {{trip.departure_station.station}}
                                    {{trip.departure_station.street_type|lower}}
                                    {{trip.departure_station.street}},
                                    {{trip.departure_station.number}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-3"> <!-- Время приезда -->
                                <span class="fs-3">{{trip.timedate_arrival|time}}</span>
                            </div>
                            <div class="col-3"> <!-- Дата Приезда -->
                                <span class="badge bg-light text-dark fw-light fs-6">{{trip.timedate_arrival | date:"j b."}}</span>
                            </div>
                        </div>
                        <div class="row"> <!-- Город прибытия -->
                            <div class="col fs-5">
                                {{trip.end_point.city}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col fs-6 fw-lighter"> <!-- Информация про место высадки -->
                                <div class="span">
                                    {{trip.arrival_station.station}}
                                    {{trip.arrival_station.street_type|lower}}
                                    {{trip.arrival_station.street}},
                                    {{trip.arrival_station.number}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center"> <!-- Зона кнопки -->
                    <div class="row">
                        <div class="col">
                            <span class="fs-3">{{trip.price}}</span><span class="fs-6">грн</span>
                        </div>
                        <div class="col position-relative">
                            <a href="{% url 'core:checkout' trip_pk=trip.pk %}"><button  class="col btn btn-danger btn-lg fs-6">Обрати</button></a>
                            {% if trip.remaining_seats > 10 %}
                                <span class="position-absolute top-100 start-50 translate-middle fs-6 mt-3 fw-light text-nowrap text-success">10+ місць</span>
                            {% else %}
                                <span class="position-absolute top-100 start-50 translate-middle fs-6 mt-3 fw-light text-nowrap text-danger">{{trip.remaining_seats}} місць</span>
                            {% endif %}
                        </div>
                    </div>

            </div>
        </div>
    </div>
    <div class="container px-3 py-1 rounded-bottom bg-light"> <!-- Информация про перевозчика -->
        <div class="row">
            <div class="col">
                    Перевізник: {{trip.bus.company}}
            </div>
            <div class="col">
                    Автобус: {{trip.bus.brand}} {{trip.bus.licence_plate}}
            </div>
            <div class="col d-flex justify-content-end">
                <a class="dropdown-toggle text-danger" data-bs-toggle="collapse" href="#detail{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="collapseExample" style="text-decoration: none">
                    Подробиці
                </a>
            </div>
        </div>
    </div>
    <div class="collapse" id="detail{{forloop.counter}}"> <!-- Подробиці -->
        <div class="card-body bg-body rounded-bottom">
            <ul style="list-style-type: none; padding: 0px">
                <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-route-tab" data-bs-toggle="pill" data-bs-target="#pills-route" type="button" role="tab" aria-controls="pills-route" aria-selected="true">Маршрут</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-carrier-tab" data-bs-toggle="pill" data-bs-target="#pills-carrier" type="button" role="tab" aria-controls="pills-carrier" aria-selected="false">Перевізник</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-bus-tab" data-bs-toggle="pill" data-bs-target="#pills-bus" type="button" role="tab" aria-controls="pills-bus" aria-selected="false">Автобус</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-route" role="tabpanel" aria-labelledby="pills-route-tab"> <!-- Вкладка Маршрут-->
                        <div class="row ">
                            <div class="col">
                                <span>
                                    Рейс <span class="fw-bold">{{trip.start_point.city}}</span> - <span class="fw-bold">{{trip.end_point.city}}</span>, на <span class="fw-bold">{{trip.timedate_departure}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                Час в дорозі: <span class="fw-light">{{trip.timedate_arrival|timeuntil:trip.timedate_departure}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <span class="fw-bold">{{trip.timedate_departure|time}}</span>
                            </div>
                            <div class="col">
                                <span class="fw-bold">{{trip.start_point.city}}</span>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1">
                                <span class="fw-light">{{trip.timedate_departure | date:"j b."}}</span>
                            </div>
                            <div class="col">
                                <span class="fw-light">
                                    {{trip.departure_station.station}}
                                    {{trip.departure_station.street_type|lower}}
                                    {{trip.departure_station.street}},
                                    {{trip.departure_station.number}}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <span class="fw-bold">{{trip.timedate_arrival|time}}</span>
                            </div>
                            <div class="col">
                                <span class="fw-bold">{{trip.end_point.city}}</span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1">
                                <span class="fw-light">{{trip.timedate_arrival| date:"j b."}}</span>
                            </div>
                            <div class="col">
                                <span class="fw-light">
                                    {{trip.arrival_station.station}}
                                    {{trip.arrival_station.street_type|lower}}
                                    {{trip.arrival_station.street}},
                                    {{trip.arrival_station.number}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-carrier" role="tabpanel" aria-labelledby="pills-carrier-tab"> <!-- Вкладка Перевізник-->
                        <div class="row">
                            <div class="col">
                                Перевізник: <span class="fw-light">{{trip.bus.company}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-bus" role="tabpanel" aria-labelledby="pills-bus-tab"> <!-- Вкладка Автобус-->
                        <div class="row">
                            <div class="col">
                                Кількість місць: <span class="fw-light">{{trip.bus.number_of_seats}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Реєстраційний номер: <span class="fw-light">{{trip.bus.licence_plate}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                               Марка: <span class="fw-light">{{trip.bus.brand}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>

