<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link type="text/css" href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
    <title>{{title}}</title>
</head>
<body>
    <div>
        {% include 'partials/nav-bar.html'%}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        {% block info %}
        {% endblock %}

        {% block search %}
        {% endblock %}
    </div>
    {% block tickets %}
    {% endblock %}
</body>
</html>